
@import url("/style/header.css");
@import url("/style/main.css");
@import url("/style/footer.css");


/*{
    display: flex;
}

html{
    height: 100%;
    font-size: 62.5%;
}
body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: #010020;
    height: 100%;
}


/* Para movil 
@media screen and (max-width: 576px){
    /* Lo que debe haber en toda la página, como el color
    y la fuente, y el padding 0 margin 0 boxsizing 
    a:link, a:visited, a:active {
        text-decoration:none;  
    }
}*/