

/*Versión móvil*/
@media screen and (max-width: 576px) {


    /*Escribir aquí*/


    .row {
        margin: 5%;
    }

    .col{
        background-color: var(--color-background);
        margin-top: 20%;
    }


    .cart {
        margin-top: 20%;
        background-color: var(--color-background);
        border: none;
    }

    .card, .card-text {
        margin-top: 5%;
        background-color: var(--color-background);
        border: none;
    }

    .btn {
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-yellow);
        border: none;
        width: 100%;
    }
}





/*Versión desk*/
@media screen and (min-width: 576px) {
    .container-items {
        display:flex ;
        justify-content: center;

    }
    .row {
        justify-items: center;
        width: 90%;
        display: grid;
        margin-top: 2%;
        grid-gap: 1.25rem;
        grid-template-columns: repeat(3, 1fr);
        
    }

    .col {
        margin-top: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .card {
        width: 15rem;
        height: 25rem;
        margin-top: 2rem;
        background-color: var(--color-background);
    }
    

    .card img {
        padding: 0.8rem;
        height: 16rem;
        object-fit: cover;
    }

    .btn {
        display: flex;
        text-align: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        border: none;
        background-color: var(--color-yellow);
    }

    h5, p {
        margin-left: 0.5rem;
    }
}